
h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    /*color: #0D2C40;*/
    padding: 1px;
    font-size: 45px;
    margin: 0;
    text-transform: uppercase;
}

h2 {
	font-family: "Raleway", sans-serif;
	/*color: #F15B31;*/
	padding: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
}

h3 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	padding: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

p {
    font-family: "Droid Serif", serif;
    line-height: 26px;
    font-size: 18px;
}
body {
    text-align: center;
    margin: 0;
}
header {
	background-color: #F15B31;
	color:#FFFFFF;
	padding: 30px 20px;
}
nav {
	background-color: #00A6B3;
	color:red;
	padding:20px 0px;
}
a {
	margin: 0px 20px;
	color:#FFFFFF
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px;
}
footer {
	text-transform: uppercase;
	padding: 0px 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: 0.08em;
	font-weight: 500;
}
.copyright {
	font-family: Raleway;
	float:left;
	border-bottom: 2px solid transparent;
}

.message {
	float: right;
	border-bottom: 2px solid transparent;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
border-bottom: 2px solid transparent;
}

.name {
	color:#F15B31;
	font-weight: 700;
	border-bottom: 2px solid transparent;
}

a: hover {
	border: white;
}







